@{ ViewBag.Title = "Index";
    Layout = ""; }
<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>

    <meta charset="UTF-8">
    <meta name='viewport' content='width=device-width, initial-scale=1.0, user-scalable=0'>
    <title>e-MUJ@KTMB - Data Management System</title>
    <link rel="icon" href="~/assets/images/users/ktmb_logo.png" type="image/x-icon" />
    <link id="style" href="../assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="../assets/css/style.css" rel="stylesheet" />
    <link href="../assets/css/plugin.css" rel="stylesheet" />
    <link href="../assets/css/animated.css" rel="stylesheet" />
    <link href="~/assets/plugins/sweet-alert2/sweetalert2.min.css" rel="stylesheet" type="text/css">
    <link href="../assets/plugins/web-fonts/icons.css" rel="stylesheet" />
    <link href="../assets/plugins/web-fonts/font-awesome/font-awesome.min.css" rel="stylesheet">
    <link href="../assets/plugins/web-fonts/plugin.css" rel="stylesheet" />


</head>

<body class="main-body light-mode ltr page-style1 error-page">
    <div class="page">
        <div class="page-single">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-7 col-lg-6 col-xl-5">
                        <div class="card p-4 mb-0 mt-7 mt-md-2">
                            <div class="card-body">
                                <div class="text-center title-style mb-6">
                                    <h1 class="mb-2">Login</h1>
                                    <hr>
                                    <p class="text-muted">Sign In to your account</p>
                                </div>
                                <form class="form-horizontal auth-form my-4" id="loginForm">
                                    <div class="form-group">
                                        <label for="username">Username</label>
                                        <div class="input-group mb-3">
                                            <script src="../assets/pages-material/pages/jquery.animate.init.js"></script>
                                            <span class="auth-form-icon">
                                                <i class="dripicons-user"></i>
                                            </span>
                                            <input type="text" class="form-control" id="usr" name="usr" placeholder="Enter username">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="userpassword">Password</label>
                                        <div class="input-group mb-3">
                                            <span class="auth-form-icon">
                                                <i class="dripicons-lock"></i>
                                            </span>
                                            <input type="password" class="form-control" id="pwd" name="pwd" placeholder="Enter password">
                                        </div>
                                    </div>
                                    <div class="form-group mb-0 row">
                                        <div class="col-12 mt-2">
                                            <button class="btn btn-lg btn-primary btn-block" type="submit" id="masukkk" name="masukkk">Log In <i class="fe fe-arrow-right"></i> </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="~/assets/js/jquery.min.js"></script>
    <script src="~/assets/js/jquery-ui.min.js"></script>
    <script src="~/assets/js/bootstrap.bundle.min.js"></script>
    <script src="~/assets/js/metismenu.min.js"></script>
    <script src="~/assets/js/waves.js"></script>
    <script src="~/assets/js/feather.min.js"></script>
    <script src="~/assets/js/jquery.slimscroll.min.js"></script>
    <script src="~/assets/plugins/sweet-alert2/sweetalert2.min.js"></script>
    <script src="~/assets/pages/jquery.sweet-alert.init.js"></script>
    <script src="~/assets/js/app.js"></script>
    <script src="~/assets/scripts/semua.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#loginForm').submit(function (event) {
                event.preventDefault(); // Prevent the default form submission

                var Toast = Swal.mixin({
                    toast: true,
                    position: 'top-end',
                    showConfirmButton: false,
                    timer: 3000,
                    timerProgressBar: true,
                    onOpen: function (toast) {
                        toast.addEventListener('mouseenter', Swal.stopTimer)
                        toast.addEventListener('mouseleave', Swal.resumeTimer)
                    }
                });
                var usr = $("#usr").val();
                var pwd = $("#pwd").val();
                if (usr == "" || pwd == "") {
                    Toast.fire({
                        icon: 'warning',
                        title: 'Please Fill In Username/Password '
                    });
                }
                else if (usr !== pwd) {
                    Toast.fire({
                        icon: 'warning',
                        title: 'Incorrect Username/Password '
                    });
                }
                else if (usr != "" && pwd != "" && usr == pwd) {
                    var dataForm = $("#logs").serialize();
                    $.ajax({
                        url: linkDepan + 'validateuser?userid=' + usr + '&password=' + pwd,
                        type: 'GET',
                        dataType: "json",
                        //data: dataForm,
                        beforeSend: function () {
                        },
                        success: function (data) {
                            Toast.fire({
                                icon: 'success',
                                title: 'Welcome ' + data.Nama
                            });

                            localStorage.setItem("usrN", data.Nama);
                            localStorage.setItem("usrI", data.Userid);
                            localStorage.setItem("usrR", data.Region);
                            localStorage.setItem("usrD", data.Designation);
                            localStorage.setItem("usrY", data.YrsService);
                            localStorage.setItem("IC", data.IC);
                            localStorage.setItem("age", data.Age);
                            localStorage.setItem("phoneNum", data.PhoneNumber);
                            localStorage.setItem("depL", data.Location);
                            localStorage.setItem("depI", data.Deptid);
                            localStorage.setItem("depN", data.DeptName);
                            localStorage.setItem("lvlI", data.Levelid);
                            localStorage.setItem("usrLvl", data.UserLevel);
                            localStorage.setItem("usrS", data.Status);
                            localStorage.setItem("scn", data.Section);
                            localStorage.setItem("kmuj", data.KMUJ);
                            localStorage.setItem("usrRE", data.RegionEng);
                            localStorage.setItem("usrKmu", data.kmujEng);
                            localStorage.setItem("regID", data.RegionID);
                            localStorage.setItem("scnVal", data.SectionVal);
                            localStorage.setItem("kmujVal", data.KMUJVal);
                            localStorage.setItem("main", data.TokenAdmin);

                            setWithExpiry('perang', data.Userid, 300);//5jam
                            setTimeout(window.location.replace("/Home/Index"), 20000);

                        },
                        error: function (xhr) {
                            $('#masukkk').show();
                            Toast.fire({
                                icon: 'warning',
                                title: 'Please Check Your Username/Password '
                            });
                        },
                        complete: function () {
                            $('#masukkk').show();
                        }
                    });
                }
            });
        });
    </script>


</body>

</html>