
@{
    ViewBag.Title = "R1Form";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="app-content main-content">
    <div class="side-app">
        <div class="container-fluid main-container">

            <!--Page header-->
            <div class="page-header">
                <div class="page-leftheader">
                    <h4 class="page-title">Daily Work Planning</h4>
                </div>
            </div>


            <!--End Page header-->

            <div class="" id="content">
                <div class="card">
                    <div class="card-body">
                        <div class="mb-3 m-0">
                            <div class="row">
                                <div class="col-3">
                                    <label class="mt-5 form-label">Region</label>
                                    <select id="region" class="form-control form-select select2" required="required">
                                        <option value="-0">Select Region</option>
                                        <option id="tempekUsrRegion"></option>
                                    </select>
                                </div>
                                <div class="col-3">
                                    <label class="mt-5 form-label">KMUJ</label>
                                    <select disabled id="kmuj" class="form-control form-select select2" required="required">
                                        <option value="-0">Select KMUJ</option>
                                        <option id="tempekKMUJ" data="tempekKMUJVal"></option>
                                    </select>
                                </div>
                                <div class="col-3">
                                    <label class="mt-5 form-label">Section</label>
                                    <select disabled id="section" class="form-control form-select select2" required="required">
                                        <option value="-0">Select Section</option>
                                        <option id="tempekScn"></option>
                                    </select>
                                </div>
                                <div></div>
                                <div class="col-6">
                                    <label class="mt-5 form-label">Gang</label>
                                    <select disabled id="gang" type="text" class="form-control form-select select2" required="required" multiple>
                                        <option value="-0">Select Gang</option>
                                    </select>
                                </div>
                                <div class="mb-5 col-3">
                                    <label class="mt-5 form-label">No. of Staff (Valid)</label>
                                    <input readonly id="gangno" type="text" class="form-control">
                                </div>
                                <div class="col-lg-12">
                                    <div class="table-responsive table-lg">
                                        <table id="tableRep" class="table table-striped table-bordered text-nowrap">
                                            <thead>
                                            </thead>
                                            <tbody></tbody>
                                        </table>
                                    </div>
                                </div>
                                <div></div>
                                <div class="col-3" id="workDateContainer">
                                    <label class="mt-5 form-label">Work Date</label>
                                    <input type="text" id="txtDate" class="form-control" required="required">
                                </div>
                                <div class="col-3">
                                    <label class="mt-5 form-label">Line</label>
                                    <select id="linecond" class="form-control form-select select2" required="required">
                                        <option value="-0">.: Select Condition :.</option>
                                    </select>
                                </div>
                                <div class="col-3">
                                    <label class="mt-5 form-label">Category</label>
                                    <select id="category" class="form-control form-select select2" required="required">
                                        <option value="-0">.: Select Category :.</option>
                                    </select>
                                </div>
                                <div id="catEmer" class="col-3" style='display:none;'>
                                    <label class="mt-5 form-label">Category</label>
                                    <select id="catdet" class="form-control form-select select2">
                                        <option value="-">.: Select Emergency :.</option>
                                    </select>
                                </div>
                                <div></div>
                                <div class="col-3">
                                    <label class="mt-5 form-label">Work Type</label>
                                    <select id="worktype" class="form-control form-select select2" required="required">
                                        <option value="-0">.: Select Work Type :.</option>
                                    </select>
                                </div>
                                <div class="col-3">
                                    <label class="mt-5 form-label">Total</label>
                                    <input id="total" type="text" class="form-control" placeholder="Total" required="required">
                                </div>
                                <div class="col-3">
                                    <label class="mt-5 form-label">Unit</label>
                                    <input id="unit" class="form-control" placeholder="Unit" readonly>
                                </div>
                                <div></div>
                                <div class="col-3">
                                    <label class="mt-5 form-label">Effected KM (Start)</label>
                                    <input type="number" id="startKM" class="form-control" placeholder="Start KM" required="required">
                                </div>
                                <div class="col-3">
                                    <label class="mt-5 form-label">Effected KM (End)</label>
                                    <input type="number" id="endKM" class="form-control" placeholder="End KM" required="required">
                                </div>
                                <div class="col-3">
                                    <label class="mt-5 form-label">Effected KM (meter)</label>
                                    <input type="text" id="totalKM" class="form-control" placeholder="Total KM" readonly>
                                </div>
                                <div></div>
                                <div class="col-3">
                                    <label class="mt-5 form-label">Time Start </label>
                                    <input type="time" id="startTime" class="form-control" placeholder="Start Time" required="required">
                                </div>
                                <div class="col-3">
                                    <label class="mt-5 form-label">Time End</label>
                                    <input type="time" id="endTime" class="form-control" placeholder="End Time" required="required">
                                </div>
                                <div class="col-3">
                                    <label class="mt-5 form-label">Time Taken</label>
                                    <input type="text" id="totalTime" class="form-control" readonly>
                                </div>
                                <div></div>
                                <div class="col-3">
                                    <div class="mb-3 mt-5">
                                        <div class="form-label">Work at Station?</div>
                                        <div class="custom-controls-stacked" required="required">
                                            <label class="custom-control custom-radio">
                                                <input type="radio" class="custom-control-input" name="station_option" id="id_radio1" value="Yes">
                                                <span class="custom-control-label">Yes</span>
                                            </label>
                                            <label class="custom-control custom-radio">
                                                <input type="radio" class="custom-control-input" name="station_option" id="id_radio2" value="No">
                                                <span class="custom-control-label">No</span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div id="station" class="col-3" style="display:none;">
                                    <label class="mt-5 form-label">Station</label>
                                    <select id="stationn" class="form-control form-select select2">
                                        <option value="">.: Select Station :.</option>
                                    </select>
                                </div>
                                <div id="point" class="col-3" style="display:none;">
                                    <label class="mt-5 form-label">Point No.</label>
                                    <input type="text" id="stPoint" class="form-control" placeholder="Station's Point">
                                </div>
                                <div class="col-xl-12">
                                    <label class="mt-5 form-label">Additional Information</label>
                                    <textarea class="mb-5 form-control" id="addnotes" placeholder="Textarea" rows="3"></textarea>
                                </div>
                                <div class="text-center">
                                    <button type="button" id="submitNew" class='btn btn-success center'>Submit Form</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="" id="contentOthers">
            <div class="card">
                <div class="card-body">
                    <div class="mb-3 m-0">
                        <div class="row">
                            <div class="card-body">
                                <h4 class="text-muted">Alert</h4>
                                <p class="text-muted">Sorry, no data found.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="modalDetails" tabindex="-1" aria-labelledby="modalUpdateLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" style="max-width: 1350px; width: 95%;" role="document">
                <div class="modal-content border-0 shadow-lg">
                    <div class="modal-body p-5">
                        <div class="text-center mb-5 mt-5">
                            @*<i class="fe fe-check-circle text-success lh-1 d-inline-block mb-2" style="font-size: 4em;"></i>
                        <h3 class="text-success fw-bold">Confirm Action</h3>*@
                            <h4 class="text-muted">Are you sure you want to update this staff data?</h4>
                        </div>
                        <div class="row g-5 text-start">
                            <div class="col-lg-6 border-end pe-lg-5">
                                <h5 class="mb-4 text-secondary fw-semibold">Staff Information</h5>
                                <div class="mb-3">
                                    <label class="form-label text-muted small mb-1">Staff ID</label>
                                    <input readonly id="staffID" type="text" class="form-control bg-light">
                                </div>
                                <div class="mb-3">
                                    <label class="form-label text-muted small mb-1">Staff Name</label>
                                    <input readonly id="staffname" type="text" class="form-control bg-light">
                                </div>
                                <div class="mb-3">
                                    <label class="form-label text-muted small mb-1">Department</label>
                                    <input readonly id="dept" type="text" class="form-control bg-light">
                                </div>
                                <div class="mb-3">
                                    <label class="form-label text-muted small mb-1">Designation</label>
                                    <input readonly id="position" type="text" class="form-control bg-light">
                                </div>
                            </div>
                            <div class="col-lg-6 ps-lg-5 d-flex flex-column justify-content-between">
                                <div>
                                    <h5 class="mb-4 text-success fw-semibold">Update Fields</h5>
                                    <div class="p-4 rounded-3 bg-success-transparent-2 border border-success border-opacity-10">
                                        <div class="mb-2">
                                            <label for="cuti" class="form-label fw-medium mb-1">Update Status / Reason</label>
                                            <select id="cuti" class="form-control form-select select2" required="required">
                                                <option value="-0">.: Select Reason :.</option>
                                            </select>
                                            <p class="text-muted small mt-2 mb-0">Please ensure an update reason is selected before submitting changes.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="d-flex gap-2 justify-content-end mt-5 pt-3">
                                    <button class="btn btn-light px-4" data-bs-dismiss="modal" aria-label="Close" type="button">Cancel</button>
                                    <button id="submitUpdate" class="btn btn-success px-4" type="button">Update</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




<!-- end app-content-->



@section scripts{
    <script src="~/assets/scripts/semua.js"></script>
    <script src="~/assets/scripts/dashboard.js"></script>
    <script src="~/assets/plugins/morris/morris.min.js"></script>
    <script src="~/assets/plugins/raphael/raphael.min.js"></script>
    <script src="~/assets/plugins/select2/select2.min.js"></script>
    <script src="~/assets/plugins/daterangepicker/daterangepicker.js"></script>
    <script type="text/javascript">

        $(document).ready(function () {
            listGang();
            listLnCondition();
            listCategory();
            listCuti();
            listWorkType();
            listCatDetails();
            listWorkUnit();
            listReports();
            listLocation();

            console.log(localStorage.getItem("lvlI"));
            if (localStorage.getItem("lvlI") === "2" || localStorage.getItem("lvlI") === "3" || localStorage.getItem("lvlI") === "6") {
                $("#content").hide();
                $("#contentOthers").show();
            }
            else {
                $("#content").show();
                $("#contentOthers").hide();
            }

            // Handle click events on radio buttons
            $('#id_radio1').click(function () {
                $('#station').show('fast');
                $('#point').show('fast');
            });

            $('#id_radio2').click(function () {
                $('#station').hide('fast');
                $('#point').hide('fast');
            });

            $("#txtDate").daterangepicker({
                autoUpdateInput: false,
                singleDatePicker: true,
                parentEl: "#workDateContainer",
                opens: 'left',
                minYear: 2021,
                maxDate: new Date(),
                locale: {
                    format: 'DD/MM/YYYY'
                }
            });

            $('#txtDate').on('apply.daterangepicker', function (ev, picker) {
                // Update input
                $(this).val(picker.startDate.format('DD/MM/YYYY'));

                // Log to console
                console.log("Ready for SQL:", picker.startDate.format('YYYY-MM-DD'));
            });

            // 3. Debugging: Check if the plugin is actually attached
            var picker = $("#txtDate").data('daterangepicker');
            if (picker) {
                console.log("Current format in plugin:", picker.locale.format);
            } else {
                console.error("Plugin failed to initialize on #txtDate");
            }

            //button submit form
            $('#submitNew').click(function () {
                if (validateForm()) {
                    submitForm();
                }
            });

            //disabled selection
            $("#region").on('change', function () {
                if ($("#region").val() == '-0') {
                    $('#kmuj').prop('disabled', true);
                }
                else {
                    $('#kmuj').prop('disabled', false);
                }
            });
            $("#kmuj").on('change', function () {
                if ($("#kmuj").val() == '-0') {
                    $('#section').prop('disabled', true);
                }
                else {
                    $('#section').prop('disabled', false);
                }
            });
            $("#section").on('change', function () {
                if ($("#section").val() == '-0') {
                    $('#gang').prop('disabled', true);
                }
                else {
                    $('#gang').prop('disabled', false);
                }
            });

            //automatic show workunit when select worktype
            $("#worktype").on('change', function () {
                wrk = $("#worktype option:selected").text();
                localStorage.setItem("selWrk", wrk, this.value);
                listWorkUnit(localStorage.getItem("selWrk", this.value));
            });

            //show/hide work catergory - emegergency
            $("#category").on('change', function () {
                if ($("#category option:selected").val() == '1') {
                    $("#catEmer").show();
                }
                else {
                    $("#catEmer").hide();
                }
            });

            $('#startKM, #endKM').on('change', function () {
                validateKM();
            });

            $('#startTime, #endTime').on('change', function () {
                validateTime();
            });

            $("#kmuj, #section, #gang").on('change', function () {
                kmj = $("#kmuj option:selected").text();
                localStorage.setItem("selKmj", kmj);

                scn = $("#section option:selected").text();
                localStorage.setItem("selScn", scn);

                var gng = $("#gang option:selected").text();
                localStorage.setItem("selGng", gng);

                listGangPax(kmj, scn, gng);
                listReports(kmj, scn, gng);

            });

            $('#addnotes').on('input', function () {
                let value = this.value;
                if (value.length > 0) {
                    this.value = value.charAt(0).toUpperCase() + value.slice(1);
                }
            });

            //modal user details & delete user
            $('#modalDetails').on('show.bs.modal', function (e) {
                var ids = $(e.relatedTarget).data('id');
                $(this).data('id', ids);
                console.log('read ' + ids);
                stfDetails(ids);
            });

            //button submit update user
            $("#submitUpdate").click(function () {
                var ids = $('#modalDetails').data('id');
                console.log('read ' + ids);
                updateUser(ids);
            });

        });

        function stfDetails(ids) {
            var staffID = $(".staffID" + ids).html();
            $.ajax({
                url: linkDepan + "GetGangDetails?StaffId=" + ids,
                type: 'GET',
                dataType: 'json',
                data: {},
                beforeSend: function (request) {
                    request.setRequestHeader("Token", localStorage.getItem('main'));
                },
                success: function (data) {
                    $('#staffID, #staffID2').val(data[0].staff_no);
                    $('#staffname, #staffname2').val(data[0].staff_name);
                    $('#dept, #dept2').val(data[0].section_id);
                    $('#position, #position2').val(data[0].position);
                },
                error: function (xhr) {
                    swarning();
                },
                complete: function () {
                }
            });
        }

        //update hal user
        function updateUser(ids) {
            var data = {
                Userid: ids,
                StatusCuti: $('#cuti').val(),
            };

            console.log("Updating user:", ids);
            console.log("Status Cuti:", $("#cuti option:selected").val());

            $.ajax({
                url: linkDepan + "UpdateGangDetails",
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify(data),
                beforeSend: function (request) {
                    request.setRequestHeader("Token", localStorage.getItem('main'));
                },
                success: function (response) {
                    var data;
                    try {
                        data = JSON.parse(response);
                    } catch (error) {
                        console.error("Error parsing JSON:", error);
                        swarning();
                        return;
                    }
                    if (data && data.status === "00") {
                        $('#modalDetails').modal('hide');
                        swal.fire('Success!', 'User details have been updated.', 'success');
                        $('#modalDetails').modal('hide');

                    } else {
                        $('#modalDetails').modal('hide');
                        swarning();
                    }
                    if (localStorage.getItem("lvlI") === "1") {
                        listReports(localStorage.getItem("selKmj"),
                            localStorage.getItem("selScn"),
                            localStorage.getItem("selGng"));
                    } else if (["2", "3", "4", "5", "6"].includes(localStorage.getItem("lvlI"))) {
                        kmj = $("#kmuj option:selected").text();
                        localStorage.setItem("selKmj", kmj);

                        scn = $("#section option:selected").text();
                        localStorage.setItem("selScn", scn);

                        var gng = $("#gang option:selected").text();
                        localStorage.setItem("selGng", gng);

                        listGangPax(kmj, scn, gng);
                        listReports(kmj, scn, gng);
                    }
                }
            },
            );
        }

        function validateKM() {
            const startKM = parseFloat($('#startKM').val());
            const endKM = parseFloat($('#endKM').val());
            var linecond = $("#linecond option:selected").text();
            localStorage.setItem("selLine", linecond);

            if (isNaN(startKM) || isNaN(endKM)) {
                $('#totalKM').val('');
                return;
            }

            const totalKM = (endKM - startKM).toFixed(3);

            if (linecond === "UpLine") {
                if (startKM > endKM) {
                    $('#totalKM').val(totalKM);
                }
                else {
                    Swal.fire('Invalid KM Range', 'End KM must be smaller than Start KM.', 'warning');
                    $('#totalKM').val('');
                }
            } else if (linecond === "DownLine") {
                if (startKM < endKM) {
                    $('#totalKM').val(totalKM);
                }
                else {

                    Swal.fire('Invalid KM Range', 'End KM must be greater than Start KM.', 'warning');
                    $('#totalKM').val('');
                }
            } else if (endKM < startKM) {
                Swal.fire('Invalid KM Range', 'End KM must be greater than Start KM.', 'warning');
                $('#totalKM').val('');
            }
            else $('#totalKM').val(totalKM);

        }

        function validateTime() {
            const startTime = $('#startTime').val();
            const endTime = $('#endTime').val();

            const start = new Date(`1970-01-01T${startTime}:00`);
            const end = new Date(`1970-01-01T${endTime}:00`);

            let diff = (end - start) / 1000 / 60;

            if (diff < 0) {
                diff += 24 * 60;
            }

            const hours = Math.floor(diff / 60);
            const minutes = diff % 60;

            const formattedTime = `${String(hours).padStart(2, '0')}:${String(minutes).padStart(2, '0')}`;
            $('#totalTime').val(formattedTime);

        }

        function validateForm() {
            let isValid = true;
            let requiredFields = [
                '#region', '#kmuj', '#section', '#datepicker',
                '#linecond', '#category', '#worktype', '#total',
                '#startKM', '#endKM', '#startTime', '#endTime'
            ];

            requiredFields.forEach(function (field) {
                if ($(field).val() === '' || $(field).val() === '-0') {
                    isValid = false;
                    $(field).addClass('is-invalid');
                } else {
                    $(field).removeClass('is-invalid');
                }
            });

            let gangValue = $('#gang').val();
            if (!gangValue || gangValue.length === 0 || gangValue.includes('-0')) {
                isValid = false;
                $('#gang').addClass('is-invalid');
            } else {
                $('#gang').removeClass('is-invalid');
            }

            const stationOption = $('input[name="station_option"]:checked').val();
            if (!stationOption) {
                isValid = false;
                $('#id_radio1').addClass('is-invalid');
                $('#id_radio2').addClass('is-invalid');
            } else {
                $('#id_radio1').removeClass('is-invalid');
                $('#id_radio2').removeClass('is-invalid');
            }

            if (!isValid) {
                Swal.fire({
                    icon: 'warning',
                    title: 'Validation Error',
                    text: 'Please fill all required fields.',
                    confirmButtonText: 'OK'
                });
            }

            return isValid;
        }


        function gatherFormData() {
            var UpdBy = localStorage.getItem('usrI');
            var Region = localStorage.getItem('regID');
            var Kmuj = localStorage.getItem('kmujVal');
            var Section = localStorage.getItem('scnVal');
            var gangValues = $("#gang").val();
            var gangArray = gangValues;

            var rawDateValue = $('#txtDate').val();
            var dateObj = moment(rawDateValue, 'DD/MM/YYYY', true);
            if (!dateObj.isValid()) {
                console.warn("Date parsing failed for:", rawDateValue);
            }
            var formattedDate = dateObj.format('YYYY-MM-DD');

            console.log("Input value:", rawDateValue);
            console.log("Value sent to SQL:", formattedDate);

            var attValues = $("#tableRep").DataTable().rows().data().toArray();

            //array attendancelist
            var AttId = attValues.map(function (item) {
                return item.Emplid;
            });

            //Array - leave staff
            var LeaveId = attValues.map(function (item) {
                return item.cuti_code;
            });

            var workers = $('#gangno').val().replace(/\D/g, '');

            var formData = {
                UpdBy: UpdBy,
                Region: Region,
                Kmuj: Kmuj,
                Section: Section,
                Gang: gangArray,
                Date: formattedDate,
                AttId: AttId,
                LeaveId: LeaveId,
                WorkType: $('#worktype').val(),
                Total: $('#total').val(),
                TotalUnit: $('#unit').val(),
                TimeStart: $('#startTime').val(),
                TimeLast: $('#endTime').val(),
                Category: $('#category').val(),
                Condition: $('#linecond').val(),
                Adds: $('#addnotes').val(),
                TimeTaken: $('#totalTime').val(),
                KMFrom: $('#startKM').val(),
                KMTo: $('#endKM').val(),
                KMTotal: $('#totalKM').val(),
                Station: $('#stationn').val(),
                SPoint: $('#stPoint').val(),
                CatDetails: $('#catdet').val(),
                Temp: $('#temp').val(),
                Workers: workers,
            };

            console.log("FormData adalah:", formData);
            console.log("Formatted Date for SQL:", formattedDate);

            return formData;
        }





        async function submitForm() {
            var formData = gatherFormData();
            $.ajax({
                url: linkDepan + "NewForm",
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify(formData),
                beforeSend: function (request) {
                    request.setRequestHeader("Token", localStorage.getItem('main'));
                },
                success: async function (response) {
                    var res = (typeof response === 'string') ? JSON.parse(response) : response;
                    if (res.StatusDetail && typeof res.StatusDetail === 'string') {
                        res = JSON.parse(res.StatusDetail);
                    }

                    console.log("Parsed Response:", res);

                    if (res.status === "00") {
                        const finalCode = res.rptCode || res.RptCode;
                        console.log("Generated Code:", finalCode);

                        try {
                            const results = await Promise.allSettled([
                                submitAttendance(finalCode, formData),
                                submitAttendanceNo(finalCode, formData),
                                submitLeave(finalCode, formData),
                                submitR1WorkPlan(finalCode, formData),
                                submitR1WorkPlanTotal(finalCode, formData)
                            ]);

                            const labels = ["Attendance", "Attendance No", "Leave", "Work Plan", "Work Plan Total"];
                            let errors = [];

                            results.forEach((result, index) => {
                                if (result.status === "rejected") {
                                    errors.push(labels[index]);
                                    console.error(`Error in ${labels[index]}:`, result.reason);
                                }
                            });

                            if (errors.length === 0) {
                                await Swal.fire({ title: 'Success!', text: 'Successfully saved: ' + finalCode, icon: 'success' });
                                window.location.reload();
                            } else {
                                Swal.fire({
                                    title: 'Partial Success',
                                    html: `Main form saved (${finalCode}), but the following failed:<br><b>${errors.join(', ')}</b>`,
                                    icon: 'warning'
                                });
                            }
                        } catch (err) {
                            Swal.fire('Error!', 'An unexpected error occurred.', 'error');
                        }
                    } else {
                        console.error("NewForm Error:", res.message);
                        swal.fire('Database Error', res.message || 'Failed to insert main form', 'error');
                        swal.fire('Error!', 'Failed to save form.', 'error');
                    }
                },
                error: function (xhr) {
                    console.error(xhr.responseText);
                    swarning();
                }
            });
        }

        function submitR1WorkPlan(rptCode, formData) {
            var table = $("#tableRep").DataTable();
            var list = [];
            table.rows().every(function () {
                var d = this.data();
                list.push({ StaffNo: d.Emplid, RptCode: rptCode });
            });
            var payload = { RptCode: rptCode, Date: formData.Date, UpdBy: formData.UpdBy, StaffList: list };
            return $.ajax({
                url: linkDepan + "R1WorkPlan",
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify(payload),
                beforeSend: function (request) { request.setRequestHeader("Token", localStorage.getItem('main')); }
            });
        }

        function submitLeave(rptCode, formData) {
            var table = $("#tableRep").DataTable();
            var list = [];
            table.rows().every(function () {
                var d = this.data();
                list.push({ StaffNo: d.Emplid, LeaveTypeId: d.cuti_code, RptCode: rptCode });
            });
            var payload = { RptCode: rptCode, Date: formData.Date, UpdBy: formData.UpdBy, StaffList: list };
            return $.ajax({
                url: linkDepan + "DailyLeave",
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify(payload),
                beforeSend: function (request) { request.setRequestHeader("Token", localStorage.getItem('main')); }
            });
        }

        function submitR1WorkPlanTotal(rptCode, formData) {
            var payload = { RptCode: rptCode, Date: formData.Date, CreatedBy: formData.UpdBy, WorkDp: formData.WorkDp, WorkUp: formData.WorkUp, WorkPl: formData.WorkPl };
            return $.ajax({
                url: linkDepan + "R1WorkPlanTotal",
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify(payload),
                beforeSend: function (request) { request.setRequestHeader("Token", localStorage.getItem('main')); }
            });
        }

        function submitAttendance(rptCode, formData) {
            var payload = {
                RptCode: rptCode,
                Gang: formData.Gang,
                AttId: formData.AttId,
                UpdBy: formData.UpdBy
            };
            return $.ajax({
                url: linkDepan + "DailyAttendList", 
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify(payload),
                beforeSend: function (request) { request.setRequestHeader("Token", localStorage.getItem('main')); }
            });
        }

        function submitAttendanceNo(rptCode, formData) {
            var payload = {
                RptCode: rptCode,
                Gang: formData.Gang,
                AttId: formData.AttId,
                UpdBy: formData.UpdBy
            };
            return $.ajax({
                url: linkDepan + "DailyAttendListNo",
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify(payload),
                beforeSend: function (request) { request.setRequestHeader("Token", localStorage.getItem('main')); }
            });
        }






        // Cleaned up helper for your UI toggling
        function toggleContentVisibility() {
            var lvl = localStorage.getItem("lvlI");
            if (lvl === "2" || lvl === "3" || lvl === "6") {
                $("#content").hide();
                $("#contentOthers").show();
            } else {
                $("#content").show();
                $("#contentOthers").hide();
            }
        }


        function listReports(kmuj, section, gang) {
            if (typeof gang === "string") {
                gang = gang.split(/(?<=\d)(?=Gang)/);
            }
            if (Array.isArray(gang) && gang.length > 0) {
                var gangString = gang.join(",");
                $.ajax({
                    url: linkDepan + "GetGListNormal?Kmuj=" + kmuj + "&Section=" + section + "&Gang=" + gangString,
                    type: 'GET',
                    dataType: 'json',
                    data: {},
                    beforeSend: function (request) {
                        request.setRequestHeader("Token", localStorage.getItem('main'));
                    },
                    success: function (response) {
                        var counter = 1, countStf = 0, countID = 0;
                        try {
                            console.log("Server Response:", response);

                            var counter = 1;
                            $.fn.dataTable.ext.errMode = 'throw';
                            if ($.fn.dataTable.isDataTable('#tableRep')) {
                                $('#tableRep').DataTable().destroy();
                                $('#tableRep').empty(); // Clear the table contents
                            }
                            $('#tableRep').DataTable({
                                responsive: true,
                                data: response,
                                columns: [
                                    { data: "Emplid" },
                                    { data: "Emplid" },
                                    { data: "Emplid" },
                                    { data: "Nama" },
                                    { data: "JobGrade" },
                                    { data: "JobDesc" },
                                    { data: "Gang" },
                                    { data: "cuti_name" },
                                    { data: "Emplid" },
                                ],
                                columnDefs: [
                                    {
                                        targets: 0,
                                        visible: false
                                    },
                                    {
                                        targets: -1,
                                        title: "Actions",
                                        render: function (data, type, full, meta) {
                                            countStf++;
                                            /*return '<a href="..' + data + '" id="BviewRes" class="btn btn-primary"><i class="fe fe-edit font-16"></i>';*/
                                            return '<a class="modal-effect btn btn-primary" data-id="' + data + '" data-bs-target="#modalDetails" data-bs-effect="effect-sign" data-bs-toggle="modal" ><i class="fe fe-edit font-10"></i></a>'

                                        },
                                    },
                                    {
                                        targets: -2,
                                        title: "Leave Status",
                                        render: function (data, type, full, meta) {
                                            var status = '';
                                            if (data == 'VALID') {
                                                status = '<a class="text-success">' + data + ' <i class="ion-checkmark-circled"></i></a></p>';
                                            } else {
                                                status = '<a class="text-danger">' + data + ' <i class="ion-close-circled"></i></a></p>';
                                            }
                                            return status;
                                        },
                                    },
                                    {
                                        targets: -3,
                                        title: "Gang",
                                        render: function (data, type, full, meta) {
                                            return data;
                                        },
                                    },
                                    {
                                        targets: -4,
                                        title: "Position",
                                        render: function (data, type, full, meta) {
                                            return data;
                                        },
                                    },
                                    {
                                        targets: -5,
                                        title: "Grade",
                                        render: function (data, type, full, meta) {
                                            return data;
                                        },
                                    },
                                    {
                                        targets: -6,
                                        title: "Name",
                                        render: function (data, type, full, meta) {
                                            return data;
                                        },
                                    },
                                    {
                                        targets: -7,
                                        title: "Staff ID",
                                        render: function (data, type, full, meta) {
                                            return data;
                                        },
                                    },
                                    {
                                        targets: -8,
                                        title: "No",
                                        render: function (data, type, full, meta) {
                                            return counter++;
                                        }
                                    }
                                ],
                                createdRow: function (row, data, dataIndex) {
                                    $('td', row).addClass('text-nowrap align-middle');
                                }
                            });
                        } catch (error) {
                            console.error("Error parsing JSON:", error);
                            if ($.fn.dataTable.isDataTable('#tableRep')) {
                                $('#tableRep').DataTable().destroy();
                                $('#tableRep').empty(); // Clear the table contents
                            }

                        }
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        console.error("AJAX request failed:", textStatus, errorThrown);
                        if ($.fn.dataTable.isDataTable('#tableRep')) {
                            $('#tableRep').DataTable().destroy();
                            $('#tableRep').empty(); // Clear the table contents
                        }

                    }
                });
            }
        }


        //show workunit after select worktype
        function listWorkUnit(workunit) {
            $.ajax({
                url: linkDepan + "GetWorkUnit?WorkUnit=" + workunit,
                dataType: "json",
                beforeSend: function (request) {
                    request.setRequestHeader("Token", localStorage.getItem('main'));
                },
                success: function (data) {
                    if (data && Array.isArray(data) && data.length > 0) {
                        $('#unit').val(data[0].unit);
                    }
                },
            });
        }

        function listCuti() {
            $.ajax({
                url: linkDepan + "GetCutiList",
                dataType: "json",
                beforeSend: function (request) {
                    request.setRequestHeader("Token", localStorage.getItem('main'));
                },
                success: function (data) {
                    if (data.length >= 1) {
                        auxArr = [];
                        $.each(data, function (index, value) {
                            auxArr[index] = "<option value='" + value.cuti_code + "'>" + value.cuti_name + "</option>";
                        });
                        $('#cuti').append(auxArr.join(''));
                    } else {
                        $("#cuti").addClass(" is-invalid");

                    }
                },
                error: function (xhr) {
                    swarning();
                },
                complete: function () {
                }
            });
        }

        //show gang pax based on gang type
        function listGangPax(kmuj, section, gang) {
            if (typeof gang === "string") {
                gang = gang.split(/(?<=\d)(?=Gang)/);
            }

            if (Array.isArray(gang)) {
                var gangString = gang.join(",");

                $.ajax({
                    url: linkDepan + "GetGangPax",
                    data: {
                        Kmuj: kmuj,
                        Section: section,
                        Gang: gangString
                    },
                    dataType: "json",
                    beforeSend: function (request) {
                        request.setRequestHeader("Token", localStorage.getItem('main'));
                    },
                    success: function (data) {
                        if (data && data.length > 0) {
                            $('#gangno').val(data[0].count);
                        } else {
                            $('#gangno').val('0 pax');
                        }
                    },
                    error: function (error) {
                        $('#gangno').val("");
                    }
                });
            } else {
                return;
            }
        }

        function listGang() {
            $.ajax({
                url: linkDepan + "GangList",
                dataType: "json",
                beforeSend: function (request) {
                    request.setRequestHeader("Token", localStorage.getItem('main'));
                },
                success: function (data) {
                    if (data.length >= 1) {
                        auxArr = [];
                        $.each(data, function (index, value) {
                            auxArr[index] = "<option value='" + value.id + "'>" + value.gang + "</option>";
                        });
                        $('#gang').append(auxArr.join(''));
                    } else {
                        $("#gang").addClass(" is-invalid");

                    }
                },
                error: function (xhr) {
                    swarning();
                },
                complete: function () {
                }
            });
        }

        function listLnCondition() {
            $.ajax({
                url: linkDepan + "GetLineConditionList",
                dataType: "json",
                beforeSend: function (request) {
                    request.setRequestHeader("Token", localStorage.getItem('main'));
                },
                success: function (data) {
                    if (data.length >= 1) {
                        auxArr = [];
                        $.each(data, function (index, value) {
                            auxArr[index] = "<option value='" + value.cond_id + "'>" + value.cond_name + "</option>";
                        });
                        $('#linecond').append(auxArr.join(''));
                    } else {
                        $("#linecond").addClass(" is-invalid");

                    }
                },
                error: function (xhr) {
                    swarning();
                },
                complete: function () {
                }
            });
        }

        function listCategory() {
            $.ajax({
                url: linkDepan + "GetCategory",
                dataType: "json",
                beforeSend: function (request) {
                    request.setRequestHeader("Token", localStorage.getItem('main'));
                },
                success: function (data) {
                    if (data.length >= 1) {
                        auxArr = [];
                        $.each(data, function (index, value) {
                            auxArr[index] = "<option value='" + value.category_id + "'>" + value.category_name + "</option>";
                        });
                        $('#category').append(auxArr.join(''));
                    } else {
                        $("#category").addClass(" is-invalid");

                    }
                },
                error: function (xhr) {
                    swarning();
                },
                complete: function () {
                }
            });
        }

        function listCatDetails() {
            $.ajax({
                url: linkDepan + "GetCategoryDetails",
                dataType: "json",
                beforeSend: function (request) {
                    request.setRequestHeader("Token", localStorage.getItem('main'));
                },
                success: function (data) {
                    if (data.length >= 1) {
                        auxArr = [];
                        $.each(data, function (index, value) {
                            auxArr[index] = "<option value='" + value.id + "'>" + value.details + "</option>";
                        });
                        $('#catdet').append(auxArr.join(''));
                    } else {
                        $("#catdet").addClass(" is-invalid");

                    }
                },
                error: function (xhr) {
                    swarning();
                },
                complete: function () {
                }
            });
        }

        function listWorkType() {
            $.ajax({
                url: linkDepan + "GetWorkType",
                dataType: "json",
                beforeSend: function (request) {
                    request.setRequestHeader("Token", localStorage.getItem('main'));
                },
                success: function (data) {
                    if (data.length >= 1) {
                        auxArr = [];
                        $.each(data, function (index, value) {
                            auxArr[index] = "<option value='" + value.id + "'>" + value.work_name + "</option>";
                        });
                        $('#worktype').append(auxArr.join(''));
                    } else {
                        $("#worktype").addClass(" is-invalid");

                    }
                },
                error: function (xhr) {
                    swarning();
                },
                complete: function () {
                }
            });
        }

        function listLocation() {
            $.ajax({
                url: linkDepan + "GetLocation",
                dataType: "json",
                beforeSend: function (request) {
                    request.setRequestHeader("Token", localStorage.getItem('main'));
                },
                success: function (data) {
                    if (data.length >= 1) {
                        auxArr = [];
                        $.each(data, function (index, value) {
                            auxArr[index] = "<option value='" + value.LCN_CODE + "'>" + value.LCN_NAME + "</option>";
                        });
                        $('#stationn').append(auxArr.join(''));
                    } else {
                        $("#stationn").addClass(" is-invalid");

                    }
                },
                error: function (xhr) {
                    swarning();
                },
                complete: function () {
                }
            });
        }


    </script>
}




