
@{
    ViewBag.Title = "R2WeeklyProgramme";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="app-content main-content">
    <div class="side-app">
        <div class="container-fluid main-container">
            <!--Page header-->
            <div class="page-header">
                <div class="page-leftheader">
                    <h4 class="page-title">Weekly Programme (R2)</h4>
                </div>
            </div>
            <div class="" id="contentAdmin">
                <div class="card">
                    <div class="card-body">
                        <div class="mb-3 m-0">
                            <div class="row">
                                <div class="col-4">
                                    <label class="mt-3 form-label">KMUJ</label>
                                    <select id="kmuj" class="form-control form-select select2">
                                        <option value="-0">Select KMUJ</option>
                                    </select>
                                </div>
                                <div class="col-4">
                                    <label class="mt-3 form-label">Section</label>
                                    <select id="section" class="form-control form-select select2">
                                        <option value="-0">Select Section</option>
                                    </select>
                                </div>
                                <div class="col-3">
                                    <label class="mt-3 form-label">Date (From - To)</label>
                                    <div class="input-group">
                                        <div class="input-group-append">
                                            <span class="input-group-text"><i class=" mt-1 mb-1 fa fa-solid fa fa-calendar font-20"></i></span>
                                        </div>
                                        <input type="text" class="form-control" id="txtDate" name="txtDate" required="required" autocomplete="off" />
                                    </div>
                                </div>
                                <div class="col-1">
                                    <label class="mt-3 form-label text-white">.</label>
                                    <button id="btnSearch" class="btn btn-primary">Search</button>
                                </div>
                                <div class="card-body">
                                    <div class="col-lg-12">
                                        <div class="col-4">
                                            <div id="selectedValues" class="mb-3"></div>
                                        </div>

                                        <div class="table-responsive table-lg">
                                            <table id="tableRep" class="table table-bordered text-nowrap hover">
                                                <thead></thead>
                                                <tbody></tbody>
                                            </table>
                                        </div>

                                        <table class="table table-bordered table-striped mt-5" id="summarySectionTable">
                                            <thead>
                                                <tr class="table-warning font-weight-bold">
                                                    <th colspan="3" class="text-left">SUMMARY CALCULATIONS</th>
                                                </tr>
                                                <tr class="text-center">
                                                    <th scope="col" style="width: 50%;">Description</th>
                                                    <th scope="col" style="width: 25%;">Value</th>
                                                    <th scope="col" style="width: 25%;">Percentage</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>Total Man-Hours for the Gangs</td>
                                                    <td><span id="totalHours"></span> Mhrs</td>
                                                    <td>-</td>
                                                </tr>
                                                <tr>
                                                    <td>On Track Works</td>
                                                    <td><span id="totalOnTrackWorks"></span> Mhrs</td>
                                                    <td><span id="perOnTrack"></span> % Mhrs</td>
                                                </tr>
                                                <tr>
                                                    <td>Off Track Works</td>
                                                    <td><span id="totalOffTrackWorks"></span> Mhrs</td>
                                                    <td><span id="perOffTrack"></span> % Mhrs</td>
                                                </tr>
                                                <tr>
                                                    <td>Others</td>
                                                    <td><span id="totalSpecificCategories"></span> Mhrs</td>
                                                    <td><span id="perOthers"></span> % Mhrs</td>
                                                </tr>
                                                <tr>
                                                    <td>Total</td>
                                                    <td><span id="veryLastTotal"></span> %</td>
                                                    <td>-</td>
                                                </tr>
                                                <tr>
                                                    <td>Prepared By PWI On</td>
                                                    <td id="htmlPreparedByPWI">-</td>
                                                    <td></td>
                                                </tr>
                                                <tr>
                                                    <td>Verified By PW/KMUJ On</td>
                                                    <td style="vertical-align: middle;">
                                                        <span id="htmlVerifiedByPW">-</span>
                                                    </td>
                                                    <td id="tdVerifyAction" style="width: 150px; vertical-align: middle;">
                                                        <button type="button" id="btnVerify" class="btn btn-sm btn-success w-100" style="font-size: 13px;">Verify</button>
                                                        <span id="htmlVerifiedAt" ></span>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="" id="contentNormal">
                <div class="card">
                    <div class="card-body">
                        <div class="mb-3 m-0">
                            <div class="row justify-content-end">
                                <div class="col-3">
                                    <label class="mt-3 form-label">Date (From - To)</label>
                                    <div class="input-group">
                                        <div class="input-group-append">
                                            <span class="input-group-text"><i class=" mt-1 mb-1 fa fa-solid fa fa-calendar font-20"></i></span>
                                        </div>
                                        <input type="text" class="form-control" id="txtDateNormal" name="txtDate" required="required" autocomplete="off" />
                                    </div>
                                </div>
                                <div class="col-1">
                                    <label class="mt-3 form-label text-white">.</label>
                                    <button id="btnSearchNormal" class="btn btn-primary">Search</button>
                                </div>
                                <div class="card-body">
                                    <div class="col-lg-12">
                                        <div class="col-4">
                                            <div id="selectedValues" class="mb-3"></div>
                                        </div>

                                        <div class="table-responsive table-lg">
                                            <table id="tableRepNormal" class="table table-bordered text-nowrap hover">
                                                <thead></thead>
                                                <tbody></tbody>
                                            </table>
                                        </div>

                                        <table class="table table-bordered table-striped mt-5" id="summarySectionTableNormal">
                                            <thead>
                                                <tr class="table-warning font-weight-bold">
                                                    <th colspan="3" class="text-left">SUMMARY CALCULATIONS</th>
                                                </tr>
                                                <tr class="text-center">
                                                    <th scope="col" style="width: 50%;">Description</th>
                                                    <th scope="col" style="width: 25%;">Value</th>
                                                    <th scope="col" style="width: 25%;">Percentage</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>Total Man-Hours for the Gangs</td>
                                                    <td><span id="totalHoursNormal"></span> Mhrs</td>
                                                    <td>-</td>
                                                </tr>
                                                <tr>
                                                    <td>On Track Works</td>
                                                    <td><span id="totalOnTrackWorksNormal"></span> Mhrs</td>
                                                    <td><span id="perOnTrackNormal"></span> % Mhrs</td>
                                                </tr>
                                                <tr>
                                                    <td>Off Track Works</td>
                                                    <td><span id="totalOffTrackWorksNormal"></span> Mhrs</td>
                                                    <td><span id="perOffTrackNormal"></span> % Mhrs</td>
                                                </tr>
                                                <tr>
                                                    <td>Others</td>
                                                    <td><span id="totalSpecificCategoriesNormal"></span> Mhrs</td>
                                                    <td><span id="perOthersNormal"></span> % Mhrs</td>
                                                </tr>
                                                <tr>
                                                    <td>Total</td>
                                                    <td><span id="veryLastTotalNormal"></span> %</td>
                                                    <td>-</td>
                                                </tr>
                                                <tr>
                                                    <td>Prepared By PWI On</td>
                                                    <td id="htmlPreparedByPWI">-</td>
                                                    <td></td>
                                                </tr>
                                                <tr>
                                                    <td>Verified By JW/KMUJ on</td>
                                                    <td style="vertical-align: middle;">
                                                        <span id="htmlVerifiedByPWNormal">-</span>
                                                    </td>
                                                    <td id="tdVerifyActionNormal" style="width: 150px; vertical-align: middle;">
                                                        <button type="button" id="btnVerifyNormal" class="btn btn-sm btn-success w-100" style="font-size: 13px;">Verify</button>
                                                        <span id="htmlVerifiedAt"></span>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container-fluid" id="contentOthers">
                <div class="card border-0 shadow-sm ">
                    <div class="card-body p-4 text-center mt-5 mb-5">
                        <div class="d-inline-flex align-items-center justify-content-center bg-danger-subtle text-danger rounded-circle p-3 mb-3">
                            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-exclamation-triangle" viewBox="0 0 16 16">
                                <path d="M7.938 2.016A.13.13 0 0 1 8.002 2a.13.13 0 0 1 .063.016.15.15 0 0 1 .054.057l6.857 11.667c.036.06.035.124.002.183a.2.2 0 0 1-.054.06c-.01.006-.017.01-.023.013a.17.17 0 0 1-.054.015H1.515a.17.17 0 0 1-.054-.015 1 1 0 0 1-.023-.013.2.2 0 0 1-.054-.06.18.18 0 0 1 .002-.183L8.244 2.073a.15.15 0 0 1 .054-.057zm1.044-.45a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767z" />
                                <path d="M7.002 12a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 5.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0z" />
                            </svg>
                        </div>

                        <h4 class="fw-bold text-dark mb-2">Access Denied</h4>
                        <p class="text-secondary mb-0">Sorry, you do not have permission to view this section.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section scripts{
    <script src="~/assets/scripts/dashboard.js"></script>
    <script src="~/assets/plugins/daterangepicker/daterangepicker.js"></script>
    <script src="~/assets/plugins/select2/select2.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            checkSess();
            listSection();
            listKMUJ();

            // ==========================================
            // ADMIN / POWER USER VIEWS (lvlI: 1 or 5)
            // ==========================================
            if (localStorage.getItem("lvlI") === "1" || localStorage.getItem("lvlI") === "5") {
                $("#contentAdmin").show();
                $("#contentOthers").hide();
                $("#contentNormal").hide();

                $('#txtDate').daterangepicker({
                    autoUpdateInput: false,
                    singleDatePicker: true,
                    minYear: 2021,
                    locale: { format: 'DD/MM/YYYY' }
                });

                $('#txtDate').on('apply.daterangepicker', function (ev, picker) {
                    var newEndDate = moment(picker.startDate).add(6, 'days');
                    $(this).data('daterangepicker').setEndDate(newEndDate);
                    var sdate = picker.startDate.format('YYYY/MM/DD');
                    var edate = newEndDate.format('YYYY/MM/DD');
                    $(this).val(picker.startDate.format('DD/MM/YYYY') + ' - ' + newEndDate.format('DD/MM/YYYY'));
                    localStorage.setItem("selHar", sdate);
                    localStorage.setItem("selHarE", edate);
                });

                $("#kmuj, #section").on('change', function () {
                    localStorage.removeItem("selHar");
                    localStorage.removeItem("selHarE");
                    $('#txtDate').val('');
                    var drp = $('#txtDate').data('daterangepicker');
                    drp.setStartDate(moment());
                    drp.setEndDate(moment());
                });

                $('#kmuj').on('change', function (e, selectedSectionValue) {
                    var selectedKmuj = $(this).find('option:selected').text();
                    var selectedKmujVal = $(this).val();

                    if (selectedKmujVal && selectedKmujVal !== "-0" && !selectedKmuj.includes("Select KMUJ")) {
                        $('#section').prop('disabled', false).trigger('change.select2');
                        listSection(selectedKmuj, selectedSectionValue);
                    } else {
                        $('#section').html('<option value="-0">Select Section</option>').prop('disabled', true).trigger('change').trigger('change.select2');
                    }
                });

                $('#btnSearch').on('click', function () {
                    var kmj = $("#kmuj option:selected").text();
                    var scn = $("#section option:selected").text();
                    localStorage.setItem("selKmj", kmj);
                    localStorage.setItem("selScn", scn);
                    var sdate = localStorage.getItem("selHar") || "";
                    var edate = localStorage.getItem("selHarE") || "";
                    listReports(kmj, scn, sdate, edate);
                    salertSave(sdate !== "" ? 'Searching for: ' + sdate + ' to ' + edate : 'Searching all dates for ' + kmj);
                });

                $('#btnVerify').off('click').on('click', function () {
                    let rptCodesArray = $(this).data('rpt-codes');
                    if (!rptCodesArray || !Array.isArray(rptCodesArray) || rptCodesArray.length === 0) {
                        alert("Report reference codes not found.");
                        return;
                    }
                    executeReportVerification(rptCodesArray.join(','));
                });
            }

            // ==========================================
            // NORMAL USER VIEWS (lvlI: 2, 3, or 4)
            // ==========================================
            else if (["2", "3", "4"].includes(localStorage.getItem("lvlI"))) {
                $("#contentAdmin").hide();
                $("#contentOthers").hide();
                $("#contentNormal").show();

                $('#txtDateNormal').daterangepicker({
                    autoUpdateInput: false,
                    singleDatePicker: true,
                    minYear: 2021,
                    locale: { format: 'DD/MM/YYYY' }
                });

                $('#txtDateNormal').on('apply.daterangepicker', function (ev, picker) {
                    var newEndDate = moment(picker.startDate).add(6, 'days');
                    $(this).data('daterangepicker').setEndDate(newEndDate);
                    localStorage.setItem("selHar", picker.startDate.format('YYYY/MM/DD'));
                    localStorage.setItem("selHarE", newEndDate.format('YYYY/MM/DD'));
                    $(this).val(picker.startDate.format('DD/MM/YYYY') + ' - ' + newEndDate.format('DD/MM/YYYY'));
                });

                $('#btnSearchNormal').on('click', function () {
                    var scn = localStorage.getItem("scn") || "";
                    var kmj = localStorage.getItem("kmuj") || "All Departments";
                    listReports(kmj, scn, localStorage.getItem("selHar") || "", localStorage.getItem("selHarE") || "");
                    salertSave('Searching for reports in ' + kmj);
                });
            }

            // ==========================================
            // FALLBACK / GUEST VIEWS
            // ==========================================
            else {
                $("#contentAdmin").hide();
                $("#contentOthers").show();
                $("#contentNormal").hide();
            }
        });

        // Helper: Fetch Section List
        function listSection(kmuj, selectedSectionValue) {
            if (!kmuj || kmuj === "Select KMUJ") return;
            $.ajax({
                url: linkDepan + "Kmuj?Kmuj=" + encodeURIComponent(kmuj),
                dataType: "json",
                beforeSend: (req) => req.setRequestHeader("Token", localStorage.getItem('main')),
                success: function (data) {
                    var auxArr = ["<option value='-0'>Select Section</option>"];
                    if (data && data.length > 0) {
                        $.each(data, (i, v) => auxArr.push("<option value='" + v.section_val + "'>" + v.section_name + "</option>"));
                        $('#section').html(auxArr.join('')).prop('disabled', false);
                        if (selectedSectionValue) $('#section').val(selectedSectionValue);
                    } else {
                        $('#section').html(auxArr.join('')).addClass("is-invalid").prop('disabled', true);
                    }
                    $('#section').trigger('change').trigger('change.select2');
                },
                error: () => swarning()
            });
        }

        // Helper: Fetch KMUJ List
        function listKMUJ() {
            $.ajax({
                url: linkDepan + "KMUJList",
                dataType: "json",
                beforeSend: (req) => req.setRequestHeader("Token", localStorage.getItem('main')),
                success: function (data) {
                    var $kmuj = $('#kmuj');
                    $kmuj.find('option:not([value="-0"])').remove();
                    if (data && data.length > 0) {
                        var arr = [];
                        $.each(data, (i, v) => arr.push("<option value='" + v.kmuj_id + "'>" + v.kmuj_name + "</option>"));
                        $kmuj.append(arr.join(''));
                    }
                },
                error: () => swarning()
            });
        }


        function executeReportVerification(commaSeparatedRptCodes) {
            let currentUserId = localStorage.getItem('usrI');

            if (!currentUserId) {
                Swal.fire({ title: 'Error!', text: 'Unable to identify active user session.', icon: 'error' });
                return;
            }

            $.ajax({
                url: linkDepan + "UpdateVerifier",
                type: 'POST',
                contentType: 'application/json',
                beforeSend: function (request) {
                    request.setRequestHeader("Token", localStorage.getItem('main'));
                },
                data: JSON.stringify({
                    VerifiedBy: currentUserId,
                    RptCode: commaSeparatedRptCodes
                }),
                success: function (response) {
                    // Parse response if it's a string
                    let res = typeof response === "string" ? JSON.parse(response) : response;

                    if (res.status === "00" || res === "0") {
                        Swal.fire({ title: 'Success!', text: 'Reports verified successfully.', icon: 'success' });

                        // Refresh logic
                        if ($('#btnSearch').is(':visible')) {
                            $('#btnSearch').click();
                        } else if ($('#btnSearchNormal').is(':visible')) {
                            $('#btnSearchNormal').click();
                        } else {
                            window.location.reload();
                        }
                    } else {
                        Swal.fire({ title: 'Error!', text: 'Update failed: ' + (res.StatusDetail || 'Unknown error'), icon: 'error' });
                    }
                },
                error: function (xhr) {
                    // Note: 'res' is not available in error block, so we check xhr.responseJSON
                    let errorText = "Server connection error.";
                    if (xhr.responseJSON && xhr.responseJSON.StatusDetail) {
                        errorText = xhr.responseJSON.StatusDetail;
                    }

                    console.error("Critical server error:", xhr);
                    Swal.fire({ title: 'Error!', text: 'Update failed: ' + errorText, icon: 'error' });
                }
            });
        }

        function listReports(kmuj, section, sdate, edate) {
            $.ajax({
                url: linkDepan + "GetKerja?&Kmuj=" + kmuj + "&Section=" + section + "&SDate=" + sdate + "&Edate=" + edate,
                type: 'GET',
                dataType: 'json',
                beforeSend: function (request) {
                    request.setRequestHeader("Token", localStorage.getItem('main'));
                },
                success: function (data) {
                    if (!data || !Array.isArray(data) || !data.length) {
                        console.warn('No data returned.');
                        return;
                    }

                    // 1. RESOLVE VERIFIER NAME & DATE
                    const validVerifyRow = data.find(item =>
                        (item.verifier_name || item.Verifier_Name || item.verifierName || "").trim() !== ''
                    );

                    let verifiedByPerson = "-";
                    let verifiedAtDate = "";

                    if (validVerifyRow) {
                        const name = (validVerifyRow.verifier_name || validVerifyRow.Verifier_Name || validVerifyRow.verifierName).trim();
                        const rawDate = validVerifyRow.verified_at || validVerifyRow.Verified_At;
                        verifiedByPerson = name;
                        if (rawDate) {
                            const d = new Date(rawDate);
                            verifiedAtDate = d.toLocaleDateString() + " " + d.toLocaleTimeString([], { hour: '2-digit', minute: '2-digit' });
                        }
                    }

                    // 2. UPDATE UI (ADMIN & NORMAL)
                    $('#htmlVerifiedByPW, #htmlVerifiedByPWNormal').text(verifiedByPerson);
                    $('#htmlVerifiedAt, #htmlVerifiedAtNormal').text(verifiedAtDate);

                    if (verifiedByPerson !== "-") {
                        $('#btnVerify, #btnVerifyNormal').hide();
                    } else {
                        $('#btnVerify, #btnVerifyNormal').show();
                    }

                    // 3. CAPTURE REPORT CODES FOR BUTTON
                    let uniqueReportCodes = [...new Set(data.map(i => (i.rpt_code || "").trim()).filter(i => i))];
                    $('#btnVerify, #btnVerifyNormal').data('rpt-codes', uniqueReportCodes);

                    // 4. PREPARE DATA
                    let finalData = [];
                    let uniqueDates = new Set();
                    const validStaffRow = data.find(i => (i.staff_name || i.Staff_Name || i.staffName));
                    const updatedByPerson = validStaffRow ? (validStaffRow.staff_name || validStaffRow.Staff_Name || validStaffRow.staffName).trim() : "-";

                    data.forEach(item => {
                        let row = {
                            work_cat_id: item.work_cat_id,
                            work_cat_name: item.work_cat_name,
                            work_name: item.work_name,
                            TotalTime: 0 // Initialize as a number
                        };

                        Object.keys(item).forEach(key => {
                            const ignoredKeys = ["work_cat_id", "work_cat_name", "work_name", "TotalTime", "staff_name", "Staff_Name", "staffName", "rpt_code", "rptCode", "Rpt_Code", "verified_by", "Verified_By", "verifiedBy", "verifier_name", "Verifier_Name", "verifierName", "verified_at", "Verified_At"];
                            if (!ignoredKeys.some(k => key.toLowerCase() === k.toLowerCase())) {
                                let val = (parseFloat(item[key]) || 0);
                                let calculatedValue = 0;
                                if (val > 0) {
                                    const parts = key.split('/');
                                    const multiplier = (new Date(parts[2], parts[1] - 1, parts[0]).getDay() >= 1 && new Date(parts[2], parts[1] - 1, parts[0]).getDay() <= 4) ? 8.75 : 6;
                                    calculatedValue = val * multiplier;
                                }
                                row[key] = calculatedValue === 0 ? '' : calculatedValue.toFixed(2);
                                row.TotalTime += calculatedValue; // Add as number
                                uniqueDates.add(key);
                            }
                        });

                        // Convert to string ONLY at the end of the row calculation
                        row.TotalTime = row.TotalTime.toFixed(2);
                        finalData.push(row);
                    });

                    // 5. AGGREGATIONS & CALCULATIONS
                    let sortedDates = Array.from(uniqueDates).sort((a, b) => {
                        const pA = a.split('/'), pB = b.split('/');
                        return new Date(pA[2], pA[1] - 1, pA[0]) - new Date(pB[2], pB[1] - 1, pB[0]);
                    });

                    let totalManHoursForGangs = finalData.reduce((sum, row) => sum + parseFloat(row.TotalTime || 0), 0);
                    let offTrackWorksTotal = finalData.reduce((sum, row) => Number(row.work_cat_id) === 5 ? sum + parseFloat(row.TotalTime || 0) : sum, 0);
                    let othersCategories = [11, 12, 14, 15, 16, 17];
                    let totalOthers = finalData.reduce((sum, row) => othersCategories.includes(Number(row.work_cat_id)) ? sum + parseFloat(row.TotalTime || 0) : sum, 0);
                    let totalOnTrackWorks = totalManHoursForGangs - offTrackWorksTotal - totalOthers;

                    let perOnTrack = (totalManHoursForGangs > 0) ? ((totalOnTrackWorks / totalManHoursForGangs) * 100).toFixed(2) : "0.00";
                    let perOffTrack = (totalManHoursForGangs > 0) ? ((offTrackWorksTotal / totalManHoursForGangs) * 100).toFixed(2) : "0.00";
                    let perOthers = (totalManHoursForGangs > 0) ? ((totalOthers / totalManHoursForGangs) * 100).toFixed(2) : "0.00";

                    // Total Row
                    let totalRow = { work_cat_id: '', work_cat_name: 'TOTAL', work_name: '', TotalTime: totalManHoursForGangs.toFixed(2) };
                    sortedDates.forEach(date => {
                        let dateSum = finalData.reduce((sum, row) => sum + (parseFloat(row[date]) || 0), 0);
                        totalRow[date] = dateSum === 0 ? '' : dateSum.toFixed(2);
                    });
                    finalData.push(totalRow);

                    // 6. UI UPDATES
                    const updateText = (id, val) => { if (document.getElementById(id)) document.getElementById(id).innerText = val; };
                    const ids = ["totalHours", "totalOnTrackWorks", "perOnTrack", "totalOffTrackWorks", "perOffTrack", "totalSpecificCategories", "perOthers", "veryLastTotal", "htmlPreparedByPWI", "htmlVerifiedByPW"];
                    const values = [totalManHoursForGangs.toFixed(2), totalOnTrackWorks.toFixed(2), perOnTrack, offTrackWorksTotal.toFixed(2), perOffTrack, totalOthers.toFixed(2), perOthers, "100.00", updatedByPerson, verifiedByPerson];

                    ids.forEach((id, i) => {
                        updateText(id, values[i]);
                        updateText(id + "Normal", values[i]);
                    });

                    // 7. DATATABLE
                    let columns = [{ data: "work_cat_id", title: "NO", className: "text-center" }, { data: "work_cat_name", title: "CATEGORY" }, { data: "work_name", title: "WORK DESCRIPTION" }];
                    sortedDates.forEach(date => columns.push({ data: date, title: date, className: "text-center", render: d => (d == 0 || d === "0.00" || d === "") ? "" : d }));
                    columns.push({ data: "TotalTime", title: "GRAND TOTAL", className: "text-center", render: d => (d == 0 || d === "0.00" || d === "") ? "" : d });

                    if ($.fn.DataTable.isDataTable('#tableRep, #tableRepNormal')) $('#tableRep, #tableRepNormal').DataTable().clear().destroy();

                    $('#tableRep, #tableRepNormal').DataTable({
                        ordering: false, paging: false, dom: 'Bfrtip', responsive: true, data: finalData, columns: columns,
                        buttons: ['csv', 'excel'],
                        rowCallback: function (row, data, index) {
                            const catCell = $('td', row).eq(1);
                            const noCell = $('td', row).eq(0);
                            if (data.work_cat_name === 'TOTAL') { $(row).css('font-weight', 'bold').addClass('table-info'); catCell.attr('colspan', 2).css('text-align', 'center'); noCell.hide(); }
                        }
                    });
                },
                error: function (xhr) { console.error("Error fetching data:", xhr); }
            });
        }



    </script>
    }








