
@{
    ViewBag.Title = "Inventory";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="app-content main-content">
    <div class="side-app">
        <div class="container-fluid main-container">
            <div class="main-body light-mode ltr error-page">
                <div class="page">
                    <div class="page-content">
                        <div class="container text-center ">
                            <div class="display-1 text-primary mb-5 font-weight-bold"> C<i class="fa fa-frown-o"></i>MING SOON!</div>
                            <h1 class="h3  mb-3 font-weight-bold">Sorry, page is currently under construction.</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


